<h1>Comments</h1>
<% @comment = Comment.new %>
<%= render :partial => 'form', :locals => {:link => @link} %>
<ul class="comment-list">
<% @comments.each do |comment| %>
	<li><%= comment.body %></li>
<% end %>
</ul>