<h1>List of links:</h1>

<table class="table table-striped">
  <tbody>
<%@links.each do |link|%>

    <tr>
      <td>
        <%= link_to link.body,  link.url %></br>
		<span class="sub_link">
       <%=link_to "#{link.comments.count}  comments", link_comments_path(link.id) %> | (vote count) votes
    </span>
      </td>
      <td>
         <%= render :partial => "edit_button", :locals => {:link => link} %>
         <%= render :partial => "vote_button", :locals => {:link => link} %>
      </td>
    </tr>
<%end%>
 </tbody>
</table>




